button{

  background-color: #1B75BB; 

  border: none;

  color: #F03F37;

  padding: 20px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 100px;

  margin: 40px;

  cursor: pointer;

  border-radius: 5px;

}

.button-container{

  display: flex;

  justify-content: center;

  align-items: center;

  flex-wrap: wrap;

  margin-top: 50px;

}

